@import url(global.css);

.community{
    padding: 100px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.title-community{
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.text-community{
    font-size: 20px;
}

.container-cards-community{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 50px 0 0;
}

.bg-card-community{
    background: var(--bg-cards-community);
    width: 430px;
    padding: 40px 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    box-shadow: var(--shadow);
}

.title-card-community{
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

.text-card-community{
    font-size: 20px;
    text-align: center;
}

@media (width <= 600px) {
    .community{
        padding: 50px 0 0;
    }

    .title-community{
        font-size: 24px;
    }
    
    .container-cards-community{
        flex-direction: column;
        gap: 40px;
    }

    .bg-card-community{
        width: 100%;
    }

    .title-card-community{
        font-size: 20px;
    }

    .text-card-community, .text-community{
        text-align: center;
        font-size: 16px;
    }
}
