@import url(global.css);

footer{
    width: 100%;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px 50px;
    position: relative;
}

.redes-sociales{
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.icons{
    display: flex;
    padding: 0 10px;
}

.x, .telegram{
    fill: white;
    transition: fill 0.3s ease;
}

.x:hover, .telegram:hover{
    fill: rgb(157, 157, 158);
}

.bb-footer{
    font-size: 20px;
    padding: 20px 40px;
    height: auto;
}

@media (width <= 600px) {
    footer{
        height: 400px;
    }

    .footer-container{
        height: 100%;
        flex-direction: column;
    }

    .redes-sociales{
        top: 45%;
    }
}