@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
}

:root{
    --background: linear-gradient(0deg, rgba(23,4,4,1) 0%, rgba(38,20,91,1) 50%, rgba(5,2,16,1) 75%, rgba(19,14,81,1) 100%);
    --background-button: #150f6ab7;
    --background-button-hover: #150f6adf;
    --color: rgb(240, 233, 233);
    --background-nav: hwb(245 15% 75% / 0.32);
    --background-nav-mq: radial-gradient(circle, rgba(105,101,165,0.68) 0%, rgba(40,38,63,0.68) 100%);
    --shadow: 0 10px 20px rgba(0, 0, 0, 0.531);
    --shadow-main: 0 20px 40px rgba(0, 0, 0, 0.316);
    /* --backgrpund-gradient: linear-gradient(35deg, rgba(22,44,218,0.80015756302521) 0%, rgba(247,247,244,0.8) 100%); */
    --background-container-text: linear-gradient(90deg, rgba(47,125,158,0.68) 0%, rgba(43,8,124,1) 54%);
    --background-container-text-reverse: linear-gradient(90deg, rgba(43,8,124,1) 41%, rgba(47,125,158,0.68) 100%);
    --card-bg: rgba(0, 0, 0, 0.504);
    --bg-cards-community: linear-gradient(180deg, rgba(47,125,158,0.7) 0%, rgba(43,8,124,1) 100%);

}

html {
    scroll-behavior: smooth;
}

body{
    background: var(--background);
    color: var(--color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

a{
    all: inherit;
    color: var(--color);
    width: fit-content;
    cursor: pointer;
}

.buy-button{
    padding: 10px 20px;
    outline: 1px solid black;
    border-radius: 10px;
    background: var(--background-button);
    backdrop-filter: blur(3px);
    box-shadow: var(--shadow);
    transition: background 0.3s ease-in;
}

.buy-button:hover{
    background: var(--background-button-hover);
    backdrop-filter: blur(3px);
    font-weight: 700;
}